{% extends 'base.html' %}

{% block body %}
{% for page in pages %}
<div class="document">
    <span class="title">
        <span>{{page.title}}</span>
        <a class="change-title" href="#">#</a>
    </span>

    <form class="page-title" method="POST"
        action="{{url_for('page_title',page_id=page.id)}}">
        <input name="title" type="text" value="{{page.title}}">
        <button>change the title</button>
    </form>

    <form method="POST" style="float: right"
        action="{{url_for('delete_page', page_id=page.id)}}">
        <button>delete this page</button>
    </form>

    <form class="save-page" method="POST"
        action="{{url_for('save_page', page_id=page.id)}}">
        <button>save</button>
    </form>

    <form id="new-idea" method="POST"
        action="{{ url_for('new_idea', page_id=page.id) }}">
        <textarea name="content" class="idea"></textarea>
        <button>New idea</button>
    </form>

    <ol class="idea-list">
        {% for idea in page.ideas %}
        <li id="{{idea.id}}"><div class="idea">{{ idea.content }}
            <div class="idea-menu">
                <a class="copy" href="#">c</a><br>
                <a class="remove" href="#">x</a>
            </div>
        </div>
        </li>
        {% endfor %}
    </ol>
</div>
{% endfor %}

{% if page_list %}
<div class="document">
    <ul>
    {% for page in page_list %}
        {% if page.id != page_id %}
        <li>
            <a href="{{ url_for('get_pages',
                page1_id=page_id, page2_id=page.id) }}">
                {{page.title}}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    <ul>

</div>
{% endif %}
{% endblock %}
