{% extends 'base.html' %}

{% block body %}
<div id="edit-skeleton" style="display: none">
    <form class="edit-idea" method="POST" action="/idea/">
        <textarea  class="edit-area" name="content"></textarea>
        <button>save</button>
        <a class="copy" href="#">copy</a>
        <a class="indent-following" href="#">indent followings</a>
        <a class="dedent-children" href="#">dedent children</a>
        <input class="toggle-hide" type="checkbox">hide
        <a class="remove" href="#">remove</a>
    </form>
</div>

{% if pages|length > 1 %}
<form>
<div id="mode">
    <input type="radio" name="mode" id="move-mode" value="move" checked/>
    <label for="radio1">Move</label>
    <input type="radio" name="mode" id="copy-mode" value="copy"/>
    <label for="radio1">Copy</label>
</div>
</form>
{% endif %}

<ul class="summary scrollable">
</ul>

{% for page in pages %}
<div class="document scrollable{% if loop.index == 1 %} outline{%endif%}">
    <span class="title">
        <span>{{page.title}}</span>
        <a class="change-title" href="#">#</a>
    </span>

    <form class="page-title" method="POST"
        action="{{url_for('page_title',page_id=page.id)}}">
        <input name="title" type="text" value="{{page.title}}">
        <button>change the title</button>
    </form>

    <a href="{% if pages|length == 1 -%}
        {{ url_for('get_page_list') }}
    {%- else -%}
        {{ url_for('get_page', page_id=pages[2-loop.index].id) }}
    {%- endif %}" style="float: right">X</a>

    <form class="save-page" method="POST" style="display: none"
        action="{{url_for('save_page', page_id=page.id)}}">
        <button>save</button>
    </form>

    <form class="new-idea" method="POST"
        action="{{ url_for('new_idea', page_id=page.id) }}">
        <textarea name="content" class="new-area"></textarea>
        <button>New idea</button>
    </form>

    <ol class="idea-list">
        {{page|render_page|safe}}
    </ol>

    <form method="POST" style="float: right"
        action="{{url_for('delete_page', page_id=page.id)}}">
        <button>delete this page</button>
    </form>
</div>
{% endfor %}

{% if page_list %}
<div class="document scrollable">
    <ul>
        <li><a class="view-text" href="#">text</a></li>
    {% for page in page_list %}
        {% if page.id != page_id %}
        <li>
            <a href="{{ url_for('get_pages',
                page1_id=page_id, page2_id=page.id) }}">
                {{page.title}}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    <ul>

</div>
{% endif %}
{% endblock %}
