div#menu {
    margin-bottom: 20px;
}

form.page-title {
    display: none;
}

form.edit-idea{
    display: block;
    background-color: white;
    margin: 0px;
    padding: 0px;
    width: 258px;
    min-height: 75px;
}

textarea.new-area {
    width: 260px !important;
    min-height: 75px;
    margin: -1px;
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    border: lightgray 1px solid;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

textarea.edit-area {
    width: 260px !important;
    min-height: 75px;
    margin: -1px;
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    border: none;
    border-bottom: lightgray 1px solid;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

.title span {
    font-size: 20px;
}

.page-title input {
    font-size: 20px;
    border: lightgray 1px solid;
}

.idea {
    width: 258px;
    border: lightgray 1px solid;
    background-color: white;
    margin: 5px;
    padding: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content {
    font-size: 14px;
    line-height: 18px;
    display: block;
    cursor: default;
    font-family: "Helvetica Neue",Arial,sans-serif;
}

div.idea-menu {
    padding: 0px;
    margin: 0px;
    height: 20px;
    padding-bottom: 3px;
    display: none;
}

a.remove {
    float: right;
}

ol.idea-list {
    width: 500px;
    min-height: 50%;
    border: gray 1px dashed;
}

div.document {
    float: left;
    width: 580px;
    min-height: 50%;
    margin: 20px;
    border: 1px solid;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
}
